<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header text-white bg-secondary">
            Course Master
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="searchText" class="form-control" placeholder="Search By" (ngModelChange)="searchedText()" [(ngModel)]="searchText">
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 text-rht">
                    <button type="button" class="btn btn-primary" (click)="insertCourse()">
                        <i class=" fa fa-plus" aria-hidden="true"></i>
                        Add</button>
                </div>

                <div class="col-md-12 mt-3">
                    <div *ngIf="errorMessage !== ''" class="alert" [ngClass]="alertType">{{errorMessage}}</div>
                </div>
                <div class="col-md-12 mt-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Department</th>
                                <th>Course Start Date</th>
                                <th>Course End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of searchedCourseList; index as i">
                                <td>{{i+1}}</td>
                                <td style="display: none">{{item.ID}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.ShortName}}</td>
                                <td>{{item.Department}}</td>
                                <td>{{item.CSDateFormat}}</td>
                                <td>{{item.CEDateFormat}}</td>
                                <td>
                                    <div class="text-center">
                                        <a class="pointer px-2" style="cursor: pointer;" (click)="editCourse(item)"><i
                                                class="fas fa-edit text-center"></i></a>
                                        <a class="pointer" style="cursor: pointer;"><i
                                                class="fas fa-trash text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>